extend layout

block messages
  - messages.forEach(function(item){
      p
        strong= item.user 
        = item.body.message
        span.pull-right
          = item.time
    - })
    
block logged_in_users
  - users.forEach(function(item){
      li
        = item
  - })  